= f.input :title
= f.input :class_number, hint: "The class number is used in the url to this queue, e.r. CS1410. Links to this queue should be updated accordingly"
= f.input :is_question_based, as: :boolean, required: false, hint: "This requires students to enter a question before they enter the queue"
%li{ class: "string input stringish" }
  = f.label :password, class: "label"
  = f.text_field :password, value: q.password
= f.actions

