%h1 Get Involved.

%p This TA Queue was built from the blood, sweat, and fingertips of University of Utah students.
%br/
%p It is an open source project that can be found on #{link_to "GitHub", "http://github.com/urails/ta_queue"}. 
%br/
%p The TA Queue is quite an advanced piece of machinery, leveraging many technologies. #{ link_to "Ruby on Rails", "http://rubyonrails.org/" } powers the backend, giving a solid API which allows for easy integration with #{ link_to "mobile clients", "https://github.com/urails/ta_queue_ios" }. Javascript powers the frontend, specifically #{ link_to "CoffeeScript", "http://coffeescript.org" } and #{ link_to "Backbone.js", "http://documentcloud.github.com/backbone/" }, allowing for a dynamic interface which works across all mobile devices. #{ link_to 'Juggernaut', "https://github.com/maccman/juggernaut" }, a #{ link_to "Node.js", "http://nodejs.org/" } push server, is used to push updates to web clients instantly, which makes for a very snappy UI.
%br/
%p We welcome any and all that would like to contribute or make clients, for example Android, Linux, or Mac clients. The iOS client is open source and can be found #{ link_to "here", "http://github.com/urails/ta_queue_ios" }. Please #{ mail_to "uofu.ta.queue@gmail.com", "email us" } if you'd like to beta test the iOS client. The Android client is underway and looking for contributors.
%br/
%p Please email #{ mail_to "uofu.ta.queue@gmail.com" } with any inquiries about how to contribute, questions, or concerns.
