- content_for :title do @board.title end
-#= content_for :javascripts do javascript_include_tag (current_user.student? ? "application-student" : "application-ta" ), "http://#{QUEUE_HOSTNAME}:8080/application.js" end
- content_for :javascripts do javascript_include_tag "application-backbone", "http://#{QUEUE_HOSTNAME}:8080/application.js" end
= render "boards/content_header"
= content_for :stylesheets do stylesheet_link_tag "application" end
%table{ :class => "chalkboard" }
  %tr
    %td{ :class => "tl" }
    %td{ :class => "tm" }
    %td{ :class => "tm" }
    %td{ :class => "tm" }
    %td{ :class => "tr" }
  %tr
    %td{ :class => "ml" }
    %td{ :class => "mm" }
      #cork_board
        #control_panel
          #control_bar
        #student_welcome
          .post_it
            %b= @current_user.username
            .message
              - if @current_user.student?
                %span.position Position in queue: none
            = hidden_field_tag "board_title", @board.title
        #tas_in_queue_header
          %div
            Available TAs
        #tas_in_queue
          #tas_list
    %td{ :class => "ml" }
      .border_container
        .borders
    %td{ :class => "mm" }
      #status_bar
        #notification
          No notifications
      #panes
        #queue_panel
          #queue_status
          #queue_list
    %td{ :class => "mr" }
      #left_tab_bar
        #queue_tab
          .top_tab.left
          .content_tab.left
            Queue
          .bottom_tab.left
  %tr
    %td{ :class => "bl" }
    %td{ :class => "bm" }
    %td{ :class => "bm" }
    %td{ :class => "bm" }
    %td{ :class => "br" }

%button{ class: "chat" } Chat
#chat
  Chat goes here

= render "boards/beta"


:javascript
  $(function() {
    window.queue = new TaQueue.Models.Queue
    window.queue.set(#{render_queue});
    window.queueRouter = new TaQueue.Routers.QueuesRouter()
    Backbone.history.start()
  });


