%h3 Sign up
= semantic_form_for @instructor, url: instructor_registration_path, method: :post do |f|
  = f.input :email
  = f.input :password
  = f.input :name
  = f.input :username
  = f.input :school, as: :select
  = f.input :master_password
  = f.actions
= link_to "Back to login", instructor_login_path
