.footer
  %span.new New
  #{ mail_to "uofu.ta.queue@gmail.com", "Email us" } to become a beta tester for the new #{ link_to "TA Queue iOS app", "https://github.com/urails/ta_queue_ios" }.

.footer
  This TA Queue is in beta. Report bugs via #{ link_to "GitHub", "https://github.com/urails/ta_queue/issues" } or #{ mail_to "uofu.ta.queue@gmail.com", "email" }.

.footer= link_to "Get Involved.", learn_more_path
