- content_for :title do @queue.title end
- content_for :extra_stylesheets do stylesheet_link_tag "login" end
- content_for :extra_javascripts do javascript_include_tag "login" end
.queue-login
  #status_bar
    #class_title.left
      %h2= @queue.title
  #top_tab_bar
    %button#student_tab.login-tab
      Student
    %button#ta_tab.login-tab
      TA
  #panes
    #student_panel
      = form_for @student, :url => build_create_student_path(@queue) do |f|
        %span{ :class => "login_hint" }
          Simply type in your name and computer location.
        = f.text_field :username, :autocomplete => "off", :placeholder => "Name", :class => "login"
        = f.text_field :location, :placeholder => "Location", :class => "login", :autocomplete => "off", :class => "login"
        %br/
        = submit_tag "Login", :class => "submit right"
      - if flash[:errors].present? && params[:student] == "true"
        .errors
          Errors:
          %ul
            - flash[:errors].each do |error|
              %li= error
    #ta_panel
      = form_for @ta, :url => build_create_ta_path(@queue) do |f|
        %span{ :class => "login_hint" }
          Log in with the password you were given.  
        = f.text_field :username, :autocomplete => "off", :placeholder => "Name", :class => "login"
        = f.password_field :password, :placeholder => "Password", :autocomplete => "off", :class => "login"
        %br/ 
        = submit_tag "Login", :class => "submit right"
      - if flash[:errors].present? && params[:ta] == "true"
        .errors
          Errors:
          %ul
            - flash[:errors].each do |error|
              %li= error
= render "queues/beta"
