!!!
%html
  %head
    %title 
      - if content_for? :title 
        = yield :title       
      - else                
        TA Queue
    = yield :head_start
    = render "layouts/common_meta"
    :plain
      <meta name="apple-itunes-app" content="app-id=550937048">

    - if content_for? :stylesheets
      = yield :stylesheets
    - else
      = stylesheet_link_tag "application"
    = yield :extra_stylesheets

    - if content_for? :javascripts
      = yield :javascripts
    - else
      = javascript_include_tag "application"
    = yield :extra_javascripts

    - if params[:iframe]
      = stylesheet_link_tag "iframe"

    = csrf_meta_tags

    = yield :head
  %body
    #content
      = yield
