!!!
%html
  %head
    %title 
      - if content_for? :title 
        = yield :title       
      - else                
        TA Queue
    = yield :head_start

    - if content_for? :stylesheets
      = yield :stylesheets
    - else
      = stylesheet_link_tag "application"
    = yield :extra_stylesheets

    - if content_for? :javascripts
      = yield :javascripts
    - else
      = javascript_include_tag "application"
    = yield :extra_javascripts

    - if params[:iframe]
      = stylesheet_link_tag "iframe"
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans", :rel => "stylesheet", :type => "text/css"}
      = csrf_meta_tags
      = yield :head
  %body
    #content
      = yield
